In [ ]:
!pip install pymysql

In [1]:
import pymysql

In [ ]:
# dbms 연결 코드
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', charset='utf8')

In [ ]:
db

In [ ]:
cursor = db.cursor()

In [ ]:
sql = "create database IF NOT EXISTS ecommerce"
cursor.execute(sql)

In [ ]:
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

In [ ]:
# db 변경
sql = 'use ecommerce'
cursor.execute(sql)

In [ ]:
# 현재 db 확인
sql = 'select database()'
cursor.execute(sql)
result = cursor.fetchone()
result

In [ ]:
cursor  # control structure of database

In [ ]:
sql = """
    CREATE TABLE IF NOT EXISTS product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [ ]:
cursor.execute(sql)

In [ ]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

- 삽입, 갱신, 삭제 등이 모두 끝났으면 connection 객체에서 `commit()` 메서드 사용하여 데이터를 commit

In [ ]:
db.close  # 연결종료

### 패턴으로 익히는 pymysql

In [ ]:
import pymysql

# 접속
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')

In [ ]:
# 커서 가져오기
cursor = db.cursor()

In [ ]:
sql = '''
    CREATE TABLE IF NOT EXISTS product2 (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
        );
'''

In [ ]:
# sql 구문 실행
cursor.execute(sql)

In [ ]:
print(sql)

In [ ]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

In [ ]:
# DB에 Complete 하기
db.commit()

In [ ]:
# DB 연결 닫기
db.close()

- 데이터 삽입(INSERT)
    - Cursor Object 가져오기: `cursor = db.cursor()`
    - SQL 실행: `cursor.execute(SQL)`
    - 실행 mysql 서버에 확정 반영: `db.commit()`

In [ ]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')

In [ ]:
# 3. 커서 가져오기
cursor = db.cursor()

In [ ]:
for index in range(10):
    product_code = 216573140 + index + 1
    # print(product_code)
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code) + """', '스위트바니 여름신상 5900원~ 롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print(sql)
    cursor.execute(sql)

In [ ]:
db.commit()

In [ ]:
db.close()

- 데이터 조회(SELECT)
    - Cursor Object 가져오기: `cursor = db.cursor()`
    - SQL 실행: `cursor.execute(SQL)`
    - **mysql 서버로부터 데이터 가져오기**: **fetch** 메서드 사용
        - `fetchall()`: Fetch all the rows
        - `fetchmany(size=None)`: Fetch several rows
        - `fetchone()`: Fetch the next row

In [ ]:
import pymysql

db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')
cursor = db.cursor()

In [ ]:
sql = 'select * from product2'
cursor.execute(sql)

In [ ]:
result = cursor.fetchall()
result

In [ ]:
db.close()

- 데이터 수정(UPDATE)
    - Cursor Object 가져오기: `cursor = db.cursor()`
    - SQL 실행: `cursor.execute(SQL)`
    - 실행 mysql 서버에 확정 반영: `db.commit()`

In [ ]:
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')
cursor = db.cursor()

In [ ]:
sql = """
UPDATE product2 SET
    TITLE = '하늘하늘 원피스 썸머 스페셜 가디건',
    ORI_PRICE=33000,
    DISCOUNT_PRICE=9900,
    DISCOUNT_PERCENT=70
    WHERE PRODUCT_CODE = '216573141'
"""
cursor.execute(sql)
db.commit()

In [ ]:
sql = "select * from product2 where product_code = '216573141'"

cursor.execute(sql)

result = cursor.fetchone()

result

In [ ]:
db.close()

- 데이터 삭제(DELETE)
    - Cursor Object 가져오기: `cursor = db.cursor()`
    - SQL 실행: `cursor.execute(SQL)`
    - 실행 mysql 서버에 확정 반영: `db.commit()`

In [6]:
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')
cursor = db.cursor()

In [7]:
sql = "DELETE FROM product2 WHERE product_code='216573141'"
cursor.execute(sql)
db.commit()
db.close()

In [8]:
db = pymysql.connect(host='localhost', port=3307, user='root', passwd='toor', db='ecommerce', charset='utf8')
cursor = db.cursor()
sql = """ select * from product2 where product_code='216573141'"""
cursor.execute(sql)
result = cursor.fetchone()
print(result)

None

In [9]:
db.commit()
db.close()